@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto&display=swap');

html {
  background-color: #FFF1E6;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'New Tegomin', serif;
  font-size: 50px;
  color: #732C2C;
}

.navbar-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  margin-bottom: 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} 

.navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 20px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: #732C2C;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
.navbar li a:before, .navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

.navbar li a:before {
  left: 0;
  transition: 0.5s;
}

.navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

.navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

.navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}






.about-me-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.my-photo {
  border: solid 2px #732C2C;
  border-radius: 400px;
  max-width: 450px;
}

.tech-used-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.front-end {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
  margin-bottom: 10px;
}

.back-end {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 100%;
}

.logo {
  max-width: 50px;
  max-height: 50px;
}
